<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %> 
    <title>Create Game</title>
</head>
<body>
    <p class="user-txt">
        Logged in as: <%= user.name %>
    </p>
    <p class="links-container">
        <a class="links" href="/api/v1/vg-app/logout">Logout</a> |
        <a class="links" href="/api/v1/vg-app/favorites">Favorites</a> |
        <a class="links" href="/api/v1/vg-app/all-games">All Games</a>
    </p>
    <div id="add-game-container">
        <header id="add-game-header">Create Game</header>
        <% if (errors.length) { %>
            <p id="error" class="errors"><%=errors%></p>
        <% } %>
        <form action="/api/v1/vg-app/add-game" method="POST">
            <div class="form-inputs">
                <input type="text" class="inputs" name="title" placeholder="Title">
                <input type="number" class="inputs" name="year" placeholder="Year Released">
                <input type="number" class="inputs" name="playtime" placeholder="Time Played in Hrs">
                <input type="url" class="inputs" name="image" placeholder="Image URL">
                <textarea id="desc-txt" class="inputs" name="description" placeholder="Description"></textarea>
            </div>
            <div class="form-btns">
                <button id="create-btn" type="submit">Create Game</button>
            </div>
        </form>
    </div>
</body>
</html>